# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Environment files
.env
.env.*

# Git
.git
.gitignore

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# UI directory
ui/

# Documentation
README.md

# Go
vendor/
